map $http_upgrade $connection_upgrade {
  default upgrade;
  ''      close;
}

server {
  listen {{ default .Env.NGINX_PORT "8080"}};

  server_name {{ default .Env.NGINX_HOST "localhost"}};

  location / {
    root /usr/share/nginx/html;
    try_files $uri $uri/ /bm/index.html =404;
    index index.html;
    gzip on;
    gzip_types text/css text/javascript application/x-javascript application/json;
  }

}
