<!-- Esto se puede eliminar-->
<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <h2>{{title}}</h2>
    </div>

    <div class="col-12 mt-3">
      <div class="row mb-2 mt-2">
        <div class="col">
          <h5>Ejemplos librería isapre-digital</h5>
          <ul>
            <li style="cursor: pointer" [routerLink]="['calendar']">calendar</li>
            <li style="cursor: pointer" [routerLink]="['carrusel']">carrusel</li>
            <li style="cursor: pointer" [routerLink]="['category-document']">category-document</li>
            <li style="cursor: pointer" [routerLink]="['document']">document</li>
            <li style="cursor: pointer" [routerLink]="['loadfiles']">Load Files</li>
            <li style="cursor: pointer" [routerLink]="['paginator']">paginator</li>
            <li style="cursor: pointer" [routerLink]="['select']">select</li>
            <li style="cursor: pointer" [routerLink]="['stepper']">stepper</li>
            <li style="cursor: pointer" [routerLink]="['tooltip']">tooltip</li>
            <li style="cursor: pointer" [routerLink]="['validate-contact']">validate contact info</li>
          </ul>
        </div>
      </div>

      <div class="pt-3">
        <h5>Dynamic Text</h5>
          <p>Prueba <app-dynamic-text [section]="'prueba'" [name]="'prueba'"></app-dynamic-text></p>
          <p>Prueba 2 <app-dynamic-text [section]="'prueba'" [name]="'prueba2'"></app-dynamic-text></p>
      </div>

      <div class="pt-3">
        <h5>Librerias Banmédica</h5>

        <ul class="mb-2">
          <li>
            <a href="http://mxdev.cl/banmedica/#/" target="_blank" rel="noopener">Webkit</a>
          </li>
          <li>
            <a href="http://mxdev.cl/banmedica/angular-libs/#/home" target="_blank" rel="noopener">Componentes Angular</a>
          </li>
        </ul>
        <p class="small">User y Pass: mxbanmedica</p>
      </div>
      </div>

  </div>
</div>

<!-- Mantenr esta sección -->
<div id="iosfix" class="p-5 mb-3 container">
  <router-outlet></router-outlet>
</div>

<ng-template #spinner>
  <div class="row pb-5 mt-5">
    <div class="col d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</ng-template>
